* {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: monospace;

  color: #272744;

  box-sizing: border-box;
}

:root {
  --note-dimension: 2rem;
}

body {
  background-color: rgb(39, 39, 68);
  
  overflow-x: auto;
}

/* body::-webkit-scrollbar {
  
} */

/* -------------------------------------------------------- */

.nav-bar {
  background-color: #494d7e;

  border-bottom: rgba(198, 159, 165, 0.75) 1px solid;

  display: flex;
  justify-content: center;
  /* align-items: stretch; stretch: height determined by tallest item in the list in this case b/c cross axis is vertical here */

  position: sticky;
  top: 0;
  z-index: 1;
}



.nav-list {
  background-color: #8b6d9c;
  

  font-weight: 700;
  
  padding: 5px 0px;
  
}

.nav-list li {
  background-color: #8b6d9c;

  min-width: 3rem;
  min-height: 2rem;
  
  
  list-style-type: none; /* Remove bullet points */


  display: inline-block;


  text-align: center;

  padding: 5px;

  
}

.nav-list li a {
  color: #fbf5ef;
  text-decoration: none;

  font-size: 24px; /*DC ~ font-size applied here b/c THIS, inside the <a> tag, is where the actual "text" is within nav-list*/

}

.nav-list li a:hover {
  text-decoration: underline 4px;
  text-decoration-color: #f2d3ab;
}

/* ---------------------------------------------------------- */
.wrapper {
  min-height: 50rem; /*DC~ use min-height instead of height so that it can still continue fitting in content that overflows within itself*/

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  
}

.card {
  background-color: #494d7e;

  width: 50rem;
  min-height: 25rem;
  

  

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  position: relative; /*Set card position relative so that h1 can be positioned 
                        RELATIVE TO CARD and NOT to next nearest positioned element. 
                        Also notice we dont use left, right, top, bot properties so we 
                        dont actually explicitly position .card. We are positioning it 
                        only as a relative to position h1.*/
}

.card h1 {
  color: #fbf5ef;
  font-size: 18px;

  align-self: flex-start;
  padding: 5px 0px 10px 5px;
}
/* --------------------------------------------------------------------------------- */

.music-lines-container {
  background-color: #fbf5ef;

  width: 46rem;
  min-height: 21rem;
  

  display: flex;
  justify-content: center;
  align-items: center;

  

}

.music-lines {
  background-color: rgba(198, 159, 165, 0.197);

  width: inherit;
  height: 293px; /* (6 spaces inside * diameter of note + thickness of lines + padding) */
  

  

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  padding: 3rem 0; /* Adjust spacing of lines */
  
}

.line {
  background-color: black;
  width: inherit;
  height: 1px;

  position: relative;
}


/* 
  line width: 1px, space width: 2rem = 32px.
  The initial 1px shift is to set note in correct default position before future translations
*/
.note {
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  /* transform: translate(0px, calc(1px - (33px/2) - (0 * 32px) - (0 * 1px)));  */
  
  width: var(--note-dimension);
  height: var(--note-dimension);
  border-radius: calc( var(--note-dimension) / 2);


  
}


#baseLine {
  background-color: red;
  position: absolute;
  transform: translate(0px, calc(32*3px + 3px));

  width: inherit;
  height: 0px;

}

/* -------------------------------------------------------------------------- */
.buttonList {
  width: inherit;
  min-height: 3rem;

  list-style-type: none;

  padding: 20px 0px;

  display: flex;
  justify-content: space-evenly;
}

.buttonList-button {
  background-color: #fbf5ef;
  width: 50px;
  height: 50px;
  padding: 10px;
  border-radius: 5px;

  text-align: center;
  font-weight: bold;
  
  cursor: pointer;
}

.buttonList-button:hover {
  background-color:#8b6d9c;
}